*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' , sans-serif ;
}

/* div{
    border: 2px solid red;
} */


.panel{
    height: 100vh;
    background-image: url("./images/slide-01.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    transition: background-image 1s ease-in-out;
}

.Title{
    color: white;
    padding: 10px 0px 10px 70px;
    font-size: 60px;
    font-weight: 700;
    width: 40%;
}

.subTitle{
    padding: 10px 0px 10px 70px;
    color: #B3B3B3;
    width:50%;
    font-size: 18px;
}

.titleSpan{
    color: #720e9e;
    font-weight: 730;
}

.titleButtons{
    padding: 10px 0px 10px 70px;
    display: flex;
    gap: 15px;
    cursor: pointer;
}

#loginBtn,#registerBtn{

    font-size: 20px;
    font-weight: 500;
    color: white;
    border-radius: 7px;
}

#loginBtn{
    padding: 8px 20px 8px 20px;
    background-color: #43ba7f;
}

#registerBtn{
    padding: 8px 15px 8px 15px;
    background-color: #ff511a;
}

.featuresBox{
    padding: 70px 100px 100px 110px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    flex-basis: 90%;
    color: white;
    background-color: #121212;
}

.feat{
    opacity: 0;
    transform: translateY(20px);
    padding: 35px 50px 35px 35px;
    display: flex;
    max-width: 500px;
    gap: 20px;
    background-color: #282828;
    margin-right: 10px;
    box-shadow: 5px 5px 7px #404040;
    transition: opacity 0.5s, transform 0.5s ease-in-out;
}

.visible{
    opacity: 1;
    transform: translateY(0);
}

.icon{
    font-size:60px;
    color: #720e9e;
}

.featTitle{
    font-size: 25px;
    font-weight: 700;
    padding-bottom:20px ;
}

.featBottom{
    padding: 0px 10px 10px 0px;
    font-weight:530;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .feat {
    animation: fadeIn 0.5s ease-in-out;
  }


.statsBox{
    color: white;
    background-color: #282828;
    padding: 100px 100px 100px 130px;
    display: flex;
    gap:34px;
    
}

.stat{
    /* padding: 10px; */
    background-color: #121212;
    text-align: center;
    box-shadow: 5px 5px 7px 4px #720e9e;
} 

.statIconBox{
    padding:  40px 80px 40px 80px ;
}

.statNum{
    font-size: 50px;
    font-weight: 700;
    color:#720e9e;
    background-color: #18191A;
    padding: 10px 0px 5px 0px;
}


.statText{
    font-size: 30px;
    font-weight: 500;
    background-color: #18191A;
    padding: 0px 0px 40px 0px;
}

.statIcon{
    font-size: 120px;
    color:#720e9e;
    margin-bottom: 30px;
    border-bottom: 2px solid #720e9e;
}