*{
    padding: 0;
    margin: 0;
}
/* div,img{
border: 2px red solid;
} */

body{
    display: flex;
}

.sideBar{
    margin: 0;
    padding: 0;
    width: 70px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    /* overflow: auto; */
    background-color: #121212;
    border-right: 3px solid #720e9e ;
    /* flex-grow: 0;
    flex-shrink: 0; */
}

.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#topSideBar >a >img{
    margin-top: 10px;
    margin-left: 10px;
    height: 47px;
    width: 50px;
    opacity: 0.6;
    transition: opacity 250ms ease;
}

#middleSideBar > a > img{
    margin-top: 10px;
    margin-left: 10px;
    height: 45px;
    width: 45px;
    opacity: 0.6;
    transition: opacity 250ms ease;
}

#endSideBar > a > img{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    opacity: 0.6;
    height: 45px;
    width: 45px;
    transition: opacity 250ms ease;
}

#topSideBar >a >img:hover{
    opacity: 1;
    /* border-bottom: 4px solid #720e9e; */
}

#middleSideBar >a >img:hover{
    opacity: 1;
    /* border-bottom: 4px solid #720e9e; */
}

#endSideBar >a >img:hover{
    opacity: 1;
    /* border-bottom: 4px solid #720e9e; */
}


/* #walletIcon{
    height: 65px;
    width: 65px;
} */

.mainArea{
    font-family: 'poppins',sans-serif;
    color: white; 
    background-image: url(./images/black-elegant-background-with-copy-space.jpg);
    background-repeat: repeat;
    background-size: cover;
    /* display: flex; */
    flex-direction: column;
    margin-left: 70px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* align-items: flex-start; */
}

.header2{
    border-bottom: 2px solid #720e9e;
}

#your {
    padding: 0 0 0 23px;
    font-size: 24px;
    color: #720e9e ;
    opacity: 0.9;
    font-weight: 760;
    margin-bottom: 10px;
}

.header3{
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    padding-top: 10px;
    background-color: #121212;
}

.header3 > div {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 10px 0 10px;
    opacity: 0.6;
    transition: all 250ms ease;
}


.header3 > div:hover{
    opacity: 1 !important;
    font-size: 50px !important;
    cursor: pointer !important;
}

 #daily::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #720e9e;
    transition: width .3s;
}

 #daily:hover::after {
    width: 95%;
    transition: width .3s;
}


#daily{
    margin-left: 30px;
}

#weekly::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #720e9e;
    transition: width .3s;
}

#weekly:hover::after{
    width: 95%;
    transition: width .3s;
}

#monthly::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #720e9e;
    transition: width .3s;
} 

#monthly:hover::after{
    width: 95%;
    transition: width .3s;
}


#analTitle{
    padding: 20px 0 0 20px;
    font-size: 45px;
    opacity: 0.9;
}

.row1{
   padding: 8px 0px 40px 0px; 
   display: flex; 
   justify-content: flex-start;
   padding-left: 29px;
   gap: 20px;
   background-color: #121212;
}


/* #barGraph{
    margin-top: 5px;
} */

#ele12{
    padding: 50px 80px 40px 80px;
    /* background-color: black; */
    opacity: 1;
    box-shadow: #121212;
}

#progGraphText{
    font-size: 70px;
    position: relative;
    z-index: 5;
    top:110px;
    font-weight: bold;
    left:84px;
    transition: all 250ms ease-in;
}

#progGraphText:hover{
    top:100px;
    left: 68px;
    font-weight: bolder;
    font-size: 90px;
    color: #9932cc;
}

.progGraph {
    /* padding: 16px 20px 16px 20px; */
    /* padding: 16px; */
    width: 300px;
    height: 300px;
    border-radius: 70%;
    /* position: relative;
    top:-35px; */
    background-image: 
      radial-gradient(closest-side, black 79%, transparent 80%),
      conic-gradient(#720e9e 69%, white 0);      
}

#Balance {
    background-color: #3CB043;
    /* background-color: lightgreen; */
    margin-top: 28px;
    padding: 30px 20px 30px 20px;
    border-radius: 18px;
    transition: font-size 250ms ease;
}

#Expense{
    background-color: #D22B2B ;
    margin-top: 14px;
    padding: 30px 20px 30px 20px;
    border-radius: 18px;
}

#blctext,#expText{
    font-size: larger;
    font-weight: 550;
}

#blcAmount,#expAmount {
    font-size: 45px;
    font-weight: 560;
}

.row2 {
    display: flex;
    padding: 60px 20px 50px 40px;
    gap: 50px;
    background-color: #282828;
}

.row2 > * {
    /* border: solid 2px white; */
    background-color: #121212;
    box-shadow: 7px 7px 8px #720e9e,-7px -7px 8px #720e9e;
    
}



#ele21{
    padding: 15px 30px 10px 30px;
}

#row2Title{
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 7px;
    border-bottom: #720e9e 2px solid;
}

#ele22{
    max-width: 350px;
    padding: 15px 30px 10px 30px;
}

#categoryGraph{
    padding: 10px;
}

#ele23{
    padding: 15px 30px 10px 30px;
}

#ele23Title{
    font-size: 30px;
    font-weight: bold;
}

#ele23Bar{
    padding-top: 12px;
    height: 335px;
    width: 335px;
    
}

#ele23Bar > .range{
    margin-bottom: 22px;
}


#limTitle{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
}

.range {
    /* position: relative; */
    border: white solid 2px;
    width: 300px;
    height: 30px;
    transform: skew(30deg);
    font-family: 'Orbitron', monospace;
    
    &:before {
      --width: calc(var(--p) * 1%);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #720e9e;
      z-index: 0;
      animation: load .5s forwards linear;
    }
    
    &:after {
      counter-reset: progress var(--p);
      content: counter(progress) '%';
      color: #000;
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%) skewX(-30deg);
      z-index: 1;
    }
    
    &__label {
      transform: skew(-30deg) translateY(-100%);
      line-height: 1.5;
    }
  }

  .dailyLimit{
    &:before{
        background-color: green;
    }
  }

  .monthlyLimit{
    &:before{
        background-color: #D22B2B;
    }
  }

  /* .catLimit2{
    &:before{
        background-color: green;
    }
  } */
  .catLimit2::before{
    background-color: green;
  }
  
  @keyframes load {
    to {
      width: var(--width);
    }
  }

  .row3{
    display: flex;
    padding: 40px 60px 40px 60px;
    background-color: #121212;
    gap: 30px;
    overflow: scroll;
  }

  .analIconBox{
    background-color: #404040;
    padding: 20px 40px 20px 40px;
  }

  .row3Icon{
    font-size: 180px;
    left: 20px;
    
  }

  .row3Title{
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    padding: 5px 8px 5px 8px;
  }

  .row3Div{
    box-shadow: 7px 7px 8px #720e9e,-7px -7px 8px #720e9e;
  }

  .row3text{
    font-size: 38px;
    font-weight: 700;
    text-align:center;
    padding: 10px 15px 10px 15px;
  }

  .row3TextBox{
    background-color: #282828;
  }




  







