*{
    padding: 0;
    margin: 0;
    color: white;
}
div{
    /* height: 200px;
    width:200px; */
    border: 2px solid red;
}

body{
    display: flex;

}

.mainArea{
    font-family: 'poppins',sans-serif;
    color: white; 
    background-image: url(./images/black-elegant-background-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 100%;
    height: 100%;
}

.sideBar{
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#your {
    padding: 0 0 0 23px;
    font-size: 24px;
    color: #720e9e ;
    opacity: 0.9;
    font-weight: 760;
}

#analTitle{
    padding: 20px 0 0 20px;
    font-size: 45px;
    opacity: 0.9;
}

.row1{
   display: flex; 
   justify-content: space-around;
}


#barGraph{
    margin-top: 20px;
}

#Balance {
    background-color: #3CB043;
    /* background-color: lightgreen; */
    margin-top: 28px;
    padding: 30px 20px 30px 20px;
    border-radius: 18px;
    transition: font-size 250ms ease;
}

#Expense{
    background-color: #D22B2B ;
    margin-top: 14px;
    padding: 30px 20px 30px 20px;
    border-radius: 18px;
}



#blctext,#expText{
    font-size: larger;
    font-weight: 550;
}

#blcAmount,#expAmount {
    font-size: 45px;
    font-weight: 560;
}
