body{
    background-image: url("./images/black-elegant-background-with-copy-space.jpg");
    background-repeat: repeat;
    background-size: cover;
    color: white;
}

.sideBar{
    margin: 0;
    padding: 0;
    width: 70px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    background-color: #121212;
    border-right: 3px solid #720e9e;
    top:0px;
    left: 0px;
}

.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#topSideBar >a >img{
    margin-top: 10px;
    margin-left: 8px;
    height: 47px;
    width: 50px;
    opacity: 0.6;
    transition: opacity 250ms ease;
}

#middleSideBar > a > img{
    margin-top: 10px;
    margin-left: 10px;
    height: 45px;
    width: 45px;
    opacity: 0.6;
    transition: opacity 250ms ease;
}

#endSideBar > a > img{
    margin-top: 10px;
    margin-left: 8px;
    height: 45px;
    width: 45px;
    margin-bottom: 15px;
    opacity: 0.6;
    transition: opacity 250ms ease;
}

#topSideBar >a >img:hover{
    opacity: 1;
    /* border-bottom: 4px solid #720e9e; */
}

#middleSideBar >a >img:hover{
    opacity: 1;
    /* border-bottom: 4px solid #720e9e; */
}

#endSideBar >a >img:hover{
    opacity: 1;
    /* border-bottom: 4px solid #720e9e; */
}

/* div{
    border: 2px solid red;
} */



.history{
    margin-left:70px ;
    font-family: 'poppins',sans-serif;
}


.history{
    margin-top: 40px;
    overflow: hidden;
}


.walDetails{
    display: flex;
    padding: 25px 20px 25px 55px;
    gap:20px;
    flex-direction: column;
    position:fixed;
    /* background-color: #121212; */
}

.walDetails>div{
    background-color: #282828;
    max-width: 350px;
}

.balance,.expense,.budget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 6px 6px 4px #720e9e,-6px -6px 2px #720e9e; 
}

.icon{
    top:30px;
    font-size: 50px;
    padding: 0px 20px 0px 0px;
}

.balanceText,.expenseText,.budgetText{
    font-size: 16px;
    padding: 16px 10px 10px 25px;
    font-weight: 700;
}

.balanceAmount,.expenseAmount,.budgetAmount{
    font-size: 32px;
    font-weight: 700;
    padding: 10px 45px 40px 25px;
}

.fa-wallet{
    color: #3CB043;
}

.fa-cart-shopping{
    color:#D22B2B;
}

.fa-piggy-bank{
    color:#720e9e;
}


#historyTitle{
    font-size: 40px;
    font-weight: bold;
    /* border-bottom: 1px solid #720e9e; */
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
    padding-top: 8px;
    padding-left: 35px;
    border-bottom:2px solid #720e9e ;
}

#historyOptions{
    background-color: #121212;
    margin-left: 14px;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 280px;
    box-shadow: 6px 6px 4px #720e9e,-6px -6px 2px #720e9e; 
    position: fixed;
}

.row2{
    display: flex;
    /* border: 2px solid red; */
    padding: 20px 10px 20px 36px;
    gap: 32px;
}

.row2TextBox{
    max-width: 870px;
    display: flex;
    align-items: center;
    background-color: #121212;
    box-shadow: 6px 6px 4px #720e9e,-6px -6px 2px #720e9e; 
    margin-left: 370px;
}

.row2text{
    padding: 0px 10px 20px 25px ;
    font-size: 20px;
    font-weight: 500;
}

.historyBtn{
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    font-weight: bolder;
    /* background-color: #720e9e; */
    /* box-shadow: 6px 6px 4px #720e9e,-6px -6px 2px #720e9e; */
    transition: all 250ms ease-in-out ;
}

.row2Title{
    font-size: 40px;
    font-weight: 700;
    padding: 20px 10px 20px 20px;
}

#downloadBtn{
    /* background-color: red; */
    border: 2px red solid;
    color: red;
}

#downloadBtn:hover{
    color: white;
    background-color: red;
    opacity: 0.9;
    cursor: pointer;
    font-size: 24px;
}

#exportToExcel{
    /* background-color: green; */
    border: 2px green solid;
    color: green;

}

#exportToExcel:hover{
    color: white;
    background-color: green;
    font-size: 24px;
    cursor: pointer;
}

#exportToCSV{
    color: white;
    border: 2px solid white;
}

#exportToCSV:hover{
    color: white;
    background-color:#720e9e;
    border: #720e9e 2px solid;
    font-size: 24px;
    cursor: pointer;
}

.fa-file-arrow-down{
    padding: 0px 10px 0px 0px;
}





.fa-download{
    font-size: 80px;
    margin-left: 25px;
    color: #3CB043;
}

#historyTable{
    padding: 0px 40px 20px 30px;
    flex-grow: 1.5;
    margin-right: 150px;
    margin-left: 410px;
    background-color: #121212;
    box-shadow: 6px 6px 4px #404040,-6px -6px 2px #404040; 
    margin-top:24px;
}

.historyHeading{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #9932cc;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 1;
}

.historyRow{
    display: flex;
    justify-content: space-between;
    padding: 2px 20px 2px 20px;
    border-top: 1px solid white ;
    border-bottom:1px solid white ;
    transition: all 250ms ease-in-out;
}

.historyRow:hover{
    background-color: #404040;
    padding: 6px 27px 6px 27px;
}

.historyIcon{
    font-size: 50px;
    padding: 10px 20px 10px 20px;
    align-items: flex-start;
}

.historyText{
    padding-top:10px ;
}

.historyTitle{
    font-size: 29px;
    font-weight: 700;
}

.historyLeft{
    display: flex;
    /* flex-direction: column; */
    /* max-width:250px; */
    
   
}

.historyRight{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.category{
    font-size: larger;
    color: white;
    opacity: 60%;
}

.historyDate{
    opacity: 60%;
}

.historyRight{
    padding: 18px 0px 10px 0px;
}

.historyAmount{
    font-size: 28px;
    font-weight: 700;
    color: #D22B2B;
}

.row3{
    display: flex;
    /* align-items: center; */
}
