body{
    background-image: url("./images/black-elegant-background-with-copy-space.jpg");
    background-repeat: repeat;
    background-size: cover;
    color: white;
}

.sideBar{
    margin: 0;
    padding: 0;
    width: 70px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    /* overflow: auto; */
    background-color: #121212;
    border-right: 3px solid #720e9e;
    top:0px;
    left: 0px;
}

.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#topSideBar >a >img{
    margin-top: 10px;
    margin-left: 8px;
    height: 47px;
    width: 50px;
    opacity: 0.6;
    transition: opacity 250ms ease;
}

#middleSideBar > a > img{
    margin-top: 10px;
    margin-left: 10px;
    height: 45px;
    width: 45px;
    opacity: 0.6;
    transition: opacity 250ms ease;
}

#endSideBar > a > img{
    margin-top: 10px;
    margin-left: 8px;
    height: 45px;
    width: 45px;
    margin-bottom: 15px;
    opacity: 0.6;
    transition: opacity 250ms ease;
}

#topSideBar >a >img:hover{
    opacity: 1;
    /* border-bottom: 4px solid #720e9e; */
}

#middleSideBar >a >img:hover{
    opacity: 1;
    /* border-bottom: 4px solid #720e9e; */
}

#endSideBar >a >img:hover{
    opacity: 1;
    /* border-bottom: 4px solid #720e9e; */
}

/* div{
    border: 2px solid red;
} */



.history{
    margin-left:70px ;
    font-family: 'poppins',sans-serif;
}


.history{
    margin-top: 40px;
    overflow: hidden;
}


.walDetails{
    display: flex;
    padding: 25px 20px 25px 60px;
    gap:120px;
    /* background-color: #121212; */
}

.walDetails>div{
    background-color: #282828;
}

.balance,.expense,.budget{
    display: flex;
    align-items: center;
    box-shadow: 6px 6px 4px #720e9e,-6px -6px 2px #720e9e; 
}

.icon{
    top:30px;
    font-size: 50px;
    padding: 0px 20px 0px 0px;
}
.balanceText,.expenseText,.budgetText{
    font-size: 16px;
    padding: 16px 10px 10px 25px;
    font-weight: 700;
}

.balanceAmount,.expenseAmount,.budgetAmount{
    font-size: 32px;
    font-weight: 700;
    padding: 10px 45px 40px 25px;
}

.fa-wallet{
    color: #3CB043;
}

.fa-cart-shopping{
    color:#D22B2B;
}

.fa-piggy-bank{
    color:#720e9e;
}


#historyTitle{
    font-size: 40px;
    font-weight: bold;
    /* border-bottom: 1px solid #720e9e; */
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
    padding-top: 8px;
    padding-left: 35px;
    border-bottom:2px solid #720e9e ;
}

#historyOptions{
    background-color: #121212;
    margin-left: 14px;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 280px;
    box-shadow: 6px 6px 4px #720e9e,-6px -6px 2px #720e9e; 
}

.row2{
    display: flex;
    /* border: 2px solid red; */
    padding: 20px 10px 20px 36px;
    gap: 35px;
}

.row2TextBox{
    max-width: 850px;
    display: flex;
    align-items: center;
    background-color: #121212;
    box-shadow: 6px 6px 4px #720e9e,-6px -6px 2px #720e9e; 
}

.row2text{
    padding: 0px 10px 20px 25px ;
    font-size: 20px;
    font-weight: 500;
}

.historyBtn{
    padding: 10px 30px 10px 30px;
    font-size: 20px;
    font-weight: bolder;
    /* background-color: #720e9e; */
}

.row2Title{
    font-size: 40px;
    font-weight: 700;
    padding: 20px 10px 20px 20px;
}

#downloadBtn{
    background-color: red;
}

#exportToExcel{
    background-color: green;
}

#historyTable{
    margin-top: 30px;
    margin-right: 55px;
    margin-left: 30px;
    /* padding:30px; */
    display: flex;
    /* justify-content: center; */
    /* background-color: #121212; */
    /* justify-content: center; */
    /* position:fixed; */
    /* border-bottom: #f1f1f1 2px solid; */
    /* border: 2px white solid; */
}

#historyTable > div {
    background-color: #121212;
    font-weight: bold;   
    /* flex-grow: 0;  */
    flex-shrink: 0;
}

#historyTable > div > div{
    padding: 2px 47px 2px 46px;
    border-bottom: #f1f1f1 1px solid;
    flex-wrap: nowrap;
}

.historycolTitle{
    font-size: 40px;
    color: #121212;
    background-color: #720e9e;
}

.historycolElement{
    padding-left:5px ;
    opacity: 0.8;
    font-size: 25px;
    transition: ease 250ms;
}

.fa-download{
    font-size: 80px;
    margin-left: 25px;
    color: #3CB043;
}

.col4 > .historycolTitle{
    padding: 2px 20px 2px 20px;
}



.historycolElement:hover{
    opacity: 1;
}
