*{
    margin: 0;
    font-family:  'poppins',sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/black-elegant-background-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}


/* .detailBox {
    padding: 100px 200px 100px 200px;
    background-color: #121212;
    background-size: cover;
} */

.inputBox {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    /* align-items: center; */
}

.inputBox{
    align-self: stretch;
    padding: 20px 25px 20px 25px;
    /* background-color: aqua; */
    gap: 8px;
    border:solid white ;
    background: rgba(0, 0, 0, 0.7)
}

.inputBox > .inputWithIcon > input,select{
    padding: 10px 20px 10px 20px;
    margin-top: 3px;
    border-radius: 50px;
}

.inputBox > #submitLink > button {
    padding: 10px 20px 10px 20px;
    margin-top: 3px;
    border-radius: 50px;
    
}

.inputBox > .inputWithIcon > input{
    margin-bottom: 8px;
}

/* .addTrans > input,select,option,button {
    color: black;
}*/

.inputBox > .inputWithIcon > input,select {
    background-color: black;
    color: white;
    /* opacity: 0.8; */
    border: solid #720e9e 1px;
    font-size: large;
}

.inputBox > h2 {
    font-size: xx-large;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #9932cc;
    /* border-bottom: solid white 1px; */
    align-self: center;
}

#fPass{
    padding: 0px 0px 0px 7px;
}

#submitLink{
    margin-top: 25px;
    padding: 0;
}

#submitLink > button {
    width: 100%;
    /* opacity: 0.75; */
    background-color: #720e9e;
    /* color: white; */
    font-size: larger;
    font-weight: 700;
    /* margin-top: 18px; */
    border: 1px solid white;
}




.inputWithIcon {
    position: relative;
}

.icon {
    position: absolute;
    right: 20px; /* Adjust this value to control the icon's position */
    top: 50%;
    transform: translateY(-50%);
    color: #720e9e;
}

.inputWithIcon input {
    padding-right: 30px; /* Adjust this value to leave space for the icon */
}

.bottomSignup{
    align-self: center;
    padding: 10px;
    color: white;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    
}

#moneyIcon{
    top:45%;
    right:17px;
}


