* {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    color: white; 
}

 div {
    /* border: solid yellow ; */
 }

 body {
    background-image: url(./images/black-elegant-background-with-copy-space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    padding: 10px;
}

#dbheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 56px;
    padding : 25px 10px 25px 10px ;
}

#hello {
    margin-left: 3px ;
}

#db {
    font-size: 40px;
    font-weight: 700;
}

#col1 {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.progress-bar {
    padding: 16px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, black 79%, transparent 80% 100%),
      conic-gradient(hotpink 75%, pink 0);    
  }

.container {
    
    max-width: 990px;
    margin: auto;
}

.dashboard {
    display: flex;
    gap:30px;
    justify-content: space-evenly;
}

.flex {
    display: flex;
}

.addTrans {
    flex-direction: column;
}

#col2 {
    flex-grow:3 ;
    display: flex;
    flex-direction: column;
    gap:28px;
    max-width: 550px;
    flex-shrink: 0;
    
}
 
#balance {
    background-color: #3CB043;
    /* background-color: lightgreen; */
    margin-top: 28px;
    padding: 50px 24px 50px 24px ;
    
}


#blctext{
    font-size: larger;
    font-weight: 550;
}

#blcAmount {
    font-size: 52px;
    font-weight: 560;
}

.exin {
    display: flex;
    justify-content: space-between;
    gap:16px;
}

.expense , .inBalance {
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    /* flex-shrink: 1; */
}

.expense {
    background-color: #D22B2B   ;
}

.inBalance {
    background-color: #720e9e;
}

h2 {
    font-size: xx-large;
}

.addTrans{
    align-self: stretch;
    padding: 20px;
    background-color: aqua;
    gap: 8px;
}

.addTrans > input,select,button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 3px;
}



.addTrans > label {
    font-size: small;
}

.addTrans > h2 {
    font-size: large;
    margin-bottom: 10px;
}






